body{
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;


}

h1{
  font-size: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: black;
  color: white;
}
nav{
  background-color: black;
  color:white;
  text-align: left;
}
div{
  margin-top:-5px;
  margin-left:15px;
};
#list{

  list-style: none;
  padding: 50px;
  
}
#addlist{
width:500px;
height:30px;
font-size: 20px;

}
label{
  font-size: 20px;
}
li{
  background-color: black;
  position: relative;
  color:white;
  width: 450px;
  padding:15px;
  margin-top:-16px;
  margin-left: 450px;
  margin:auto;
  font-family: 'Merriweather Sans', sans-serif;
font-size: 25px;

}
.marked{
  text-decoration: line-through;
color: lightgray
 
}
.unmarked{
  text-decoration: none;
color: red
 
}

header{ background-color: black;
  
}
input[type=checkbox]{
  width:15px;
  height: 15px;
  border-radius: 100%;
  
}
input[type=text]{
  width:250px;
  height: 30px;
  font-size: 25px;
}
button{
  background-color: red;
  color: black;
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 5px;
  width: 20px;px;
  height: 20px;px;
  text-align: center;

}
.save{
  background-color: white;
  color:black;
  width:50px;
  height: 25px;
  margin-left:-30px ;

}
#add{
  
  margin-bottom: 50px;
  margin-right: 70px;
}

